@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Norican&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@1,700&display=swap');
:root{
  --base-font: "montserrat", sans-serif;
  /* Social Color */
  --facebook: #3b5998;
  --instagram: #517fa4;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#main-container{
  display: flex;
  flex-direction: column-reverse;
}

/* ############################ Header Section ################################ */
#home-header{
  display: flex;
  justify-content: space-evenly;
  height: 25vh;
  padding: 0;
}


.header-img{
  width: 50vw;
  height: auto;
  overflow: hidden;
  margin: 0;
  padding: 0;
  object-fit: inherit;
  animation: fadeIn 5s infinite alternate;
}

@keyframes fadeIn { 
  from { opacity: 0; } 
}



#header-img-container{
  height: 25vh;
}

#title{
  text-align: center;
  font-family: 'Grand Hotel', cursive;
  font-family: 'Norican', cursive;
}



/* ###############################    NAVBAR Section    ####################################### */

#nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px black;
  background-color:  rgb(16, 16, 16);
  color: white;
  position: sticky;
  top: 0;
  z-index: 5;
  opacity: 91%
}

.nav-cause{
  display: none;
}

#title-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%
}

#title-five{
  width: 65vw; 
  height: auto;
  margin: 2%
}

#menu-icon{
  font-size: 40px;
  color: rgb(0, 145, 255) !important;
  position: sticky;
  margin: 3%;
}

#donate-btn{
  font-size: x-large;
  margin-bottom: 25%;
}

#learn-more-link{
  font-size: large;
  color: rgb(0, 187, 255);
  padding-bottom: 5%;
}

#charities-container{
  background-color: rgb(0, 145, 255) !important;
  padding-bottom: 10%;
}
.title-background{
  align-self: center;
  margin-top: 5%;
}
#charity-container-title{
  width: 45vw; 
  height: auto;
}

.charity-btn-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: solid 1px;
  padding: 8%;
}

.charity-btn{
  margin: 5% 0% 5% 0%;
  background-color: rgb(0, 187, 255) !important;
  color: whitesmoke !important;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

#als-card, #world-vets-card, #ocra-card, #nomv-card{
  padding: 2.5% 2.5% 0% 2.5%;
  margin-top: 10%; 
}

#kellys-card{
  padding: 2%;
  margin-bottom: -10%;
  margin-top: 11%;
}

#als-card{
  padding-bottom: 0
}

#world-vets-card{
  padding-top: 10%
}

#nomv-logo{
  padding: 10% 2%;
}
#vfoundation-card{
  padding:15% 2% 0% 2%;
}

.charity-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card{
  padding: 1%;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.card-img{
  padding: 3.5%
}

#als-logo{
  padding-top: 13%;
}

#v-foundation-logo{
  padding: 15% 2% ;
}

#ocra-logo{
  padding: 5%;
}

#blog-header{
  padding: 5% 0% 5% 0%;
  text-align: center;
  border-bottom: solid 1px black
}

.blog-title{
  margin: 7% 0% 3% 0%
}
.blog-post{
  padding: 8%;
}

.blog-img{
  width: 33vw;
  height: 20vh;
}

footer{
  text-align: center;
  padding: 3%;
  font-size: small;
  background-color: rgb(21, 21, 21);
  color: whitesmoke
}

#why-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8%;
  margin: 2%;
}

#why-title{
  padding: 3% 0% 11% 0%;
  width: 88vw;
  height: auto;
}

.kellys-why{
  text-indent: 5%;
}
#why{
  padding-bottom: 5%;
}
#good-day-vid{
  margin-bottom: 20%;
}
#news-article-title{
  font-size: small;
}
#news-article-subtitle{
  margin-bottom: 10%
}
#article-date{
  font-size: xx-small;
}
#why-img{
  width: 100%;
  height: auto;
  border: solid 1px black;
  border-radius: 4px;
  margin-bottom: 3%
}

#why-vid{
  width: 80vw;
  height:26vh;
}

#good-day-vid{
  width: 80vw;
  height: 30vh;
}

#go-fund-me-btn{
  width: 50vw;
  height: auto;
}

#good-day-title{
  margin: 15% 0% 10% 0%
  
}
#store-img-container{
  background-color: rgb(50, 48, 48);
  width: 85vw;
  height: auto;
  align-self: center;
  display: flex;
}
.store-card-img{
  padding: 5%;
  align-items: center;
  justify-content: center;
}

.store-card-body{
  width:42.25vw;
  height: auto;
  margin: 1%;
  flex-direction: column;
  align-items: center;
}

#store-card{
  margin: 11% 1% 1% 1%;
}
.store-btn{
  margin: 5% 0% 5% 0%;
  background-color: rgb(0, 187, 255) !important;
  color: whitesmoke !important;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  
}

.store-card-body{
  width: 90vw;
  display: flex;
  justify-content: center;
}







/* ############################################################################################################################################################################################################ */
/* ---------- BREAK POINT --------------------- BREAK POINT --------------------- BREAK POINT --------------------- BREAK POINT --------------------- BREAK POINT --------------------- BREAK POINT ----------- */
/* ############################################################################################################################################################################################################ */









@media screen and (max-width: 767px){
  .header-img-3{
    display: none;
  }
  #drop-down{
    max-height: 610px;
    overflow: scroll;
  }

  #fb-btn{
    font-size: 100px;
    display:inline;
    margin-left: 90%;
    color:#3b5998;
    text-decoration: none;
  }
  #insta-btn{
    font-size: 100px;
    padding: 50%;
    display:inline;
    color:#517fa4;
    text-decoration: none;
    
  }
  
  .share-icon{
    text-decoration: none;
  }
  
  #keep-up{
    display: none;
  }

  .share{
    display: flex;
    justify-content: center;
  }



}


/************** DESKTOP ***************************** DESKTOP ***************************** DESKTOP ***************************** DESKTOP ***************************** DESKTOP ***************************** DESKTOP ***************************** DESKTOP ****************/

@media screen and (min-width: 768px){

  /* ######## HEADER ############# */
  #home-header{
    display: flex;
    justify-content: space-evenly;
    height: 50vh;
    padding: 0;
  }
  
  
  .header-img{
    width: 50vw;
    height: auto;
    overflow: hidden;
    margin: 0;
    padding: 0;
    object-fit: inherit;
    animation: fadeIn 3s infinite alternate ;
  }
  
  @keyframes fadeIn { 
    from { opacity: 0%; } 
  }
  
  
  #header-img-3{
    display: block;
  }

  #header-img-container{
    height:80vh;
  }
  
  #title{
    text-align: center;
    font-family: 'Grand Hotel', cursive;
    font-family: 'Norican', cursive;
  }
  
  #als-logo{
    padding-top: 5%;
  }
  
  #v-foundation-logo{
    padding: 8% 3% ;
  }
  
  #ocra-logo{
    padding: 5%;
  }
  
  #nomv-logo{
    padding: 5%
  }

  #ribbon-img{
    padding: 1%;
  }

  /*##################################  NAVBAR ################################# */

  #nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px black;
    border-top: solid 1px black;
    background-color: #2b4162;
    background-image: linear-gradient(315deg,#12100e 0%, #2b4162 95%);
    position: sticky;
    top: 0;
    z-index: 5;
    height: 8vh;
    opacity: 91%
  }
  
  .nav-cause{
    display: block;
    padding-top: .5%;
  }

  .nav-link{
    color: rgb(0, 145, 255) !important;
    font-size: large !important;
    transition: all .3s ease-in-out !important;
  }

  .nav-link:hover {
    color: rgb(112, 193, 255) !important;
    transform: scale(1.04) !important;
    border-bottom: solid 3px rgb(112, 193, 255) !important ;
  }
  #drop-down{
    max-height: 610px;
    overflow: scroll;
  }
  
  
  #title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%
  }
  
  #title-five{
    display: inline;
    width: 25vw;
    height: auto;
  }
  
  #menu-icon{
    font-size: 40px;
    color: rgb(0, 145, 255) !important;
    position: sticky;
    margin: 3%;
    transition: all .5s ease-in-out;
  }
  #menu-icon:hover {
    color: rgb(112, 193, 255) !important;
    transform: scale(1.1)
  }

  
  
/*####################################  Charities  Section  ################################## */
  
  #charities-container{
    height: 490vh;
    padding-bottom: 10%;
    overflow: scroll ;
    margin: 1% 1% 1% 0%;
    border: solid 1px black;
    background: linear-gradient(-45deg, rgb(190, 226, 255), rgb(0, 145, 255), rgb(2, 75, 130)), rgb(0, 120, 211);
    background-size: 400% 400%;
	  animation: gradient 8s ease infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .charity-card-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: none;
    margin-bottom: 7%
  } 
  #charity-container-title{
    width: 17vw; 
    height: auto;
    margin-top: -5%
  }
  .charity-card{
    display: flex;
    flex-direction: row;
    padding: 0%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }

  .card{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    margin: 0;
    padding: 0;
  }

  .card-text{
    display: flex;
    flex-direction: column;
    margin: 1%;
    padding: 1%;
    text-indent: 5%;
  }

  .card-title, .card-subtitle{
    text-align: center;
    margin: 5%
  }

  .learn-more-link{
    font-size: large;
    color:rgb(0, 145, 255) !important; 
    padding: 1% ;
    display: block;
    text-align: center;
    transition: all 1s ease-in-out;
    text-decoration: none;
  }
  .learn-more-link:hover{
    color:  rgb(3, 106, 191) !important;
    transform: scale(1.1) !important;
    margin: 0% 25% 0% 25%;
    text-decoration: underline;
  }

  .charity-btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    transition: all 1s ease-in-out;
    border-top: solid 1px black;
    margin-bottom: -2%
  }
  
  .charity-btn{
    background-color: rgb(0, 145, 255) !important;
    color: whitesmoke!important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    font-size: x-large !important;
    width: 100%;
    height: auto;
    transition: all 1s ease-in-out !important;
    align-self: center;
  }
  
  .charity-btn:hover {
    background-color:  rgb(0, 72, 131) !important;
    transform: scale(1.1) !important;
  }
  
  #als-card, #world-vets-card, #ocra-card, #nomv-card{
    padding: 2.5% 2.5% 0% 2.5%;
    margin-top: 2%;
  }


  #als-card{
    padding-bottom: 0
  }
  
  #world-vets-card{
    padding-top: 0%
  }
  
  #vfoundation-card{
    padding:5% 2% 0% 2%;
  }
  #kellys-card{
    padding: 2%;
    margin-bottom: -10%;
    margin-top: 3%;
  }
  #gofundme-img{
    width: 25vw;
    height: auto;
    margin-bottom: 5%
  }
  .card-img{
    padding: 0%;
    align-self: center;
  }

  .card-img-container{
    margin: 0;
    padding: 0;
  }

  #als-img{
    width: 35vw;
    height: 35vh;
    margin-bottom: -11%
  }
  #world-vets-img{
    width: 30vw;
    height: 45vh;
    margin-top: -4.5%;
    margin-bottom: -15%
  }

  #vfoundation-img{
    width: 30vw;
    height: 25vh;
    margin-top: -4%;
    margin-bottom: -3%;
    padding: 5%;
  } 
  
  #ocra-img{
    width: 25vw;
    height: 33vh;
    margin-top: -4%;
    margin-bottom: -3%;
    padding: 4%;
  }

  #jd-img{
    width: 50vw;
    height: auto;
  }

  #nomv-img{
    width: 24vw;
    height: 29vh;
    margin-top: -4%;
    margin-bottom: -6%
  }
  #als-vid{
    margin: 3%;
    height: 50vh;
    
  }

  .title-background{
    display: flex;
    justify-content: center;
  }

  #charity-container-title{
    color: white;
    text-align: center;
    padding: 2%;
    opacity: 100%;
    z-index: 4;
    height: 12vh;
  }

  /* ##################### BLOG ######################### */


  #blog-header{
    padding: 5% 0% 5% 0%;
    text-align: center;
    border-bottom: solid 1px black
  }
  
  .blog-title{
    margin: 7% 0% 3% 0%
  }
  .blog-post{
    padding: 8%;
  }
  
  .blog-img{
    width: 33vw;
    height: 20vh;
  }
  
  footer{
    text-align: center;
    padding: 1% 0% 2% 0%;
    font-size: small;
    background-color: rgb(21, 21, 21);
    color: whitesmoke;
    height: 3vh;
    opacity: 85%;
  }
  /************** WHY Section *********************/
  #why-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0% 3% 1% 3%;
    margin: 1%;
    border: solid 1px black;
    overflow: scroll ;
  }
  
  #why-title{
    margin: 2% 0% 3% 0%;
    padding:0%;
    width: 40vw;
    height: auto;
  }
  
  .kellys-why{
    text-indent: 5%;
  }
  #why{
    padding-bottom: 5%;
  }
  
  #why-vid{
    border: solid 1px black;
    width: 41vw;
    height: 51vh;
    margin: 3%;
  }
  #news-article-subtitle{
    margin-bottom: 5%
  }
  #main-container{
    display: flex;
    flex-direction: row;
    background-color: rgb(69, 69, 69);
  }

  #good-day-vid{
    width: 45vw; 
    height: 60vh;
    margin-bottom: 10%;
    border: solid 1px black;
  }
  #good-day-title{
    margin-top: 8%
  }

  .share{
    background-color: var(--background-alt);
    width: 280px;
    height: 80px;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 1px black;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin-bottom: 6%;

}
.lastP{
  margin-bottom: 10%
}

.share-cover{
    background-color: rgb(0, 145, 255) !important;;
    color: whitesmoke;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: 2;
    border-radius: 20px;
    text-align: center;
    line-height: 80px;
    transition: transform .5s linear;
    font-size: 1.6em;
}

.share:hover .share-cover{
    transform: translateX(-100%);
    background-color:  rgb(0, 72, 131) !important;
}

.share-icon{
    height: 80px;
    font-size: 1.6em;
    line-height: 80px;
    flex: 1;
    text-align: center;
    color: var(--background-inverse);
    opacity: 0;
    transition: opacity .6s linear;
}

.share-icon:hover{
    color: whitesmoke;

}
.share:hover .share-icon{
    opacity: 1;
}

.facebook:hover {
    background-color: var(--facebook);
    
}

.instagram:hover{
    background-color: var(--instagram);
}

#store-img-container{
  background-color: rgb(50, 48, 48);
  width: 40vw;
  height: auto;
  align-self: center;
  display: flex;
}
.store-card-img{
  padding: 5%;
  align-items: center;
  justify-content: center;
}

.store-card-body{
  width:42.25vw;
  height: auto;
  margin: 1%;
}

#store-card{
  margin-top: 11%;
}
.store-btn{
  background-color: rgb(0, 145, 255) !important;
  color: whitesmoke!important;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  font-size: x-large !important;
  width: 100%;
  height: auto;
  transition: all 1s ease-in-out !important;
  align-self: center;
}

.store-btn:hover {
  background-color:  rgb(0, 72, 131) !important;
  transform: scale(1.1) !important;
}







}